<h1>
    Help
</h1>
<p>
    Get help on Ruby on Rails Tutorial at the
    <a href="http://railstutorial.org/help"p>Ruby on Rails Tutorial help page</a>.
    To get help with this sample application, see the
    <a href="http://railstutorial.org/book">Tails Tutorial book</a>
</p>
    