<!DOCTYPE html>
<html>
    <head>
        <title>
            Ruby on Rails Sample Tutorial App | <%= @title  %>
            <%= csrf_meta_tag %>
        </title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
        